.main{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 25px 50px;
    background-image:url('./background.png') ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.above{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(#222222,rgba(204, 204, 204, 0.5))
}
.form_container{
    padding:50px;
}
.main_container{
    position: absolute;
    padding: 25px 35px;
    background-color: white;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    width: 550px;
    transform: translate(-50%,-50%);
}
