.root{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 25px 50px;
    background-color:#222222 ;
    /* background: linear-gradient(#3a3939de, #3a3939de),
    linear-gradient(#222222, #222222);
background-size: 15% 100%,
         85% 100%;
         background-position: 0% top,
         calc(85% * 100 / (100 - 15)) top;
background-repeat: no-repeat; */
}
