.details_page_container{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 25px 50px;
    background-color:#222222 ;
}
.modal{
    position: absolute;
    padding: 8px;
    background-color: white;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    width: 800px;
    transform: translate(-50%,-50%);
    display: flex;
  }
  