.outer {
  background-color: #34E795;
  width: 15px;
  height: 15px; 
  position: relative;
  border-radius: 50%;
}

.inner {
  
  background-color: #34E795;
  opacity: 0.1 !important;
  top: 25%;
  left: 25%; 
  width: 50%; 
  height: 50%;
  position: relative;
  border-radius: 50%;
  z-index: 1;
}
.map_container {
  height: 400px;
  width: 100%;
  border-radius: 25px;
  border: 4px solid #34E795;
}
